---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v<VENDOR_ID>/payments/
    body:
      encoding: UTF-8
      string: '{"<MERCADOPAGO_ACCESS_TOKEN>":null,"installments":<VENDOR_ID>,"transaction_amount":2900,"payer":{"type":"customer","id":null}}'
    headers:
      Authorization:
      - Bearer TEST-<VENDOR_ID>0<VENDOR_ID><VENDOR_ID>54492994844-0725<VENDOR_ID>4-3e3757<VENDOR_ID>8fe895<VENDOR_ID>a68880d0220726e27b-8077978<VENDOR_ID>
      X-Product-Id:
      - bc32a7vtrpp00<VENDOR_ID>u8nhjg
      X-Tracking-Id:
      - platform:3.2.2,type:SDK2.2.<VENDOR_ID>,so;
      X-Idempotency-Key:
      - 294b<VENDOR_ID>5b7-47c8-463d-bfd9-ca5<VENDOR_ID>d<VENDOR_ID>756b05
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Site-Id:
      - MLM
    body:
      encoding: ASCII-8BIT
      string: '{"message":"payment_method_id attribute can''t be null","error":"bad_request","status":400,"cause":[{"code":4035,"description":"payment_method_id
        attribute can''t be null","data":"08-0<VENDOR_ID>-2024T00:58:<VENDOR_ID>2UTC;38460dfe-c0f0-49c6-8f4c-ec<VENDOR_ID><VENDOR_ID>a58f0e43"}]}'
  recorded_at: Mon, 08 Jan 2024 00:58:12 GMT
recorded_with: VCR 6.2.0
