---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v<VENDOR_ID>/card_<MERCADOPAGO_ACCESS_TOKEN>s
    body:
      encoding: UTF-8
      string: '{"card_number":"503<VENDOR_ID>4332<VENDOR_ID>540635<VENDOR_ID>","e<VENDOR_AUTH_CODE>piration_year":2025,"e<VENDOR_AUTH_CODE>piration_month":<VENDOR_ID><VENDOR_ID>,"security_code":"<VENDOR_ID>23","cardholder":{"name":"APRO"}}'
    headers:
      Authorization:
      - Bearer TEST-<VENDOR_ID>0<VENDOR_ID><VENDOR_ID>54492994844-0725<VENDOR_ID>4-3e3757<VENDOR_ID>8fe895<VENDOR_ID>a68880d0220726e27b-8077978<VENDOR_ID>
      X-Product-Id:
      - bc32a7vtrpp00<VENDOR_ID>u8nhjg
      X-Tracking-Id:
      - platform:3.2.2,type:SDK2.2.<VENDOR_ID>,so;
      X-Idempotency-Key:
      - "<VENDOR_ID>42cc5ed-6e<VENDOR_ID>4-425c-a8<VENDOR_ID>0-9cb32fa7bcd5"
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"7944ec9789cec357c97ea2<VENDOR_ID>debcfec4<VENDOR_ID>","first_si<VENDOR_AUTH_CODE>_digits":"503<VENDOR_ID>43","e<VENDOR_AUTH_CODE>piration_month":<VENDOR_ID><VENDOR_ID>,"e<VENDOR_AUTH_CODE>piration_year":2025,"last_four_digits":"635<VENDOR_ID>","cardholder":{"identification":{},"name":"APRO"},"status":"active","date_created":"2024-0<VENDOR_ID>-07T<VENDOR_ID>9:58:42.493-04:00","date_last_updated":"2024-0<VENDOR_ID>-07T<VENDOR_ID>9:58:42.493-04:00","date_due":"2024-0<VENDOR_ID>-<VENDOR_ID>5T<VENDOR_ID>9:58:42.493-04:00","luhn_validation":true,"live_mode":false,"require_esc":false,"card_number_length":<VENDOR_ID>6,"security_code_length":3}'
  recorded_at: Sun, 07 Jan 2024 23:58:41 GMT
- request:
    method: post
    uri: https://api.mercadopago.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: '{"email":"none@e<VENDOR_AUTH_CODE>ample.org","name":"None User"}'
    headers:
      Authorization:
      - Bearer TEST-<VENDOR_ID>0<VENDOR_ID><VENDOR_ID>54492994844-0725<VENDOR_ID>4-3e3757<VENDOR_ID>8fe895<VENDOR_ID>a68880d0220726e27b-8077978<VENDOR_ID>
      X-Product-Id:
      - bc32a7vtrpp00<VENDOR_ID>u8nhjg
      X-Tracking-Id:
      - platform:3.2.2,type:SDK2.2.<VENDOR_ID>,so;
      X-Idempotency-Key:
      - 9437b950-e4fa-4e35-9c<VENDOR_ID>b-98be86ffb839
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"invalid parameters ","error":"bad_request","status":400,"cause":[{"code":"<VENDOR_ID>0<VENDOR_ID>","description":"the
        customer already e<VENDOR_AUTH_CODE>ist"}]}'
  recorded_at: Sun, 07 Jan 2024 23:58:41 GMT
recorded_with: VCR 6.2.0
