---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v<VENDOR_ID>/card_<MERCADOPAGO_ACCESS_TOKEN>s
    body:
      encoding: UTF-8
      string: '{"card_number":"503<VENDOR_ID>4332<VENDOR_ID>540635<VENDOR_ID>","e<VENDOR_AUTH_CODE>piration_year":2025,"e<VENDOR_AUTH_CODE>piration_month":<VENDOR_ID><VENDOR_ID>,"security_code":"<VENDOR_ID>23","payment_method_id":"visa","cardholder":{"name":"APRO"}}'
    headers:
      Authorization:
      - Bearer TEST-<VENDOR_ID>0<VENDOR_ID><VENDOR_ID>54492994844-0725<VENDOR_ID>4-3e3757<VENDOR_ID>8fe895<VENDOR_ID>a68880d0220726e27b-8077978<VENDOR_ID>
      X-Product-Id:
      - bc32a7vtrpp00<VENDOR_ID>u8nhjg
      X-Tracking-Id:
      - platform:3.2.2,type:SDK2.2.<VENDOR_ID>,so;
      X-Idempotency-Key:
      - 95a<VENDOR_ID>6707-d8c7-40e9-9f66-df943e807959
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"5c6e4cbff0bf<VENDOR_ID>309c5ab827<VENDOR_ID>0574800e","first_si<VENDOR_AUTH_CODE>_digits":"503<VENDOR_ID>43","e<VENDOR_AUTH_CODE>piration_month":<VENDOR_ID><VENDOR_ID>,"e<VENDOR_AUTH_CODE>piration_year":2025,"last_four_digits":"635<VENDOR_ID>","cardholder":{"identification":{},"name":"APRO"},"status":"active","date_created":"2024-0<VENDOR_ID>-07T2<VENDOR_ID>:<VENDOR_ID>7:<VENDOR_ID><VENDOR_ID>.935-04:00","date_last_updated":"2024-0<VENDOR_ID>-07T2<VENDOR_ID>:<VENDOR_ID>7:<VENDOR_ID><VENDOR_ID>.935-04:00","date_due":"2024-0<VENDOR_ID>-<VENDOR_ID>5T2<VENDOR_ID>:<VENDOR_ID>7:<VENDOR_ID><VENDOR_ID>.935-04:00","luhn_validation":true,"live_mode":false,"require_esc":false,"card_number_length":<VENDOR_ID>6,"security_code_length":3}'
  recorded_at: Mon, 08 Jan 2024 01:17:11 GMT
- request:
    method: post
    uri: https://api.mercadopago.com/v<VENDOR_ID>/payments/
    body:
      encoding: UTF-8
      string: '{"<MERCADOPAGO_ACCESS_TOKEN>":"5c6e4cbff0bf<VENDOR_ID>309c5ab827<VENDOR_ID>0574800e","installments":<VENDOR_ID>,"transaction_amount":<VENDOR_ID>000,"payer":{"type":"customer","id":"<VENDOR_ID>623739743-d<VENDOR_AUTH_CODE>r2lARGFjjlBo"}}'
    headers:
      Authorization:
      - Bearer TEST-<VENDOR_ID>0<VENDOR_ID><VENDOR_ID>54492994844-0725<VENDOR_ID>4-3e3757<VENDOR_ID>8fe895<VENDOR_ID>a68880d0220726e27b-8077978<VENDOR_ID>
      X-Product-Id:
      - bc32a7vtrpp00<VENDOR_ID>u8nhjg
      X-Tracking-Id:
      - platform:3.2.2,type:SDK2.2.<VENDOR_ID>,so;
      X-Idempotency-Key:
      - 8677a0ae-5<VENDOR_ID>5b-4af5-ab77-b<VENDOR_ID><VENDOR_ID>7d080cd25
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Site-Id:
      - MLM
      X-Response-Status:
      - approved/accredited
      X-Caller-Id:
      - 8077978<VENDOR_ID>
      Etag:
      - a<VENDOR_ID>5b90072809be04060c42<VENDOR_ID>4eb08fb85
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid card_<MERCADOPAGO_ACCESS_TOKEN>_id","error":"bad_request","status":400,"cause":[{"code":3003,"description":"Invalid
        card_<MERCADOPAGO_ACCESS_TOKEN>_id","data":"08-0<VENDOR_ID>-2024T0<VENDOR_ID>:08:09UTC;aa88e0ba-4f80-4087-8303-b463df3f6b50"}]}'
  recorded_at: Mon, 08 Jan 2024 01:17:13 GMT
recorded_with: VCR 6.2.0
