---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v<VENDOR_ID>/customers
    body:
      encoding: UTF-8
      string: '{"email":"none@e<VENDOR_AUTH_CODE>ample.org","name":"None User"}'
    headers:
      Authorization:
      - Bearer TEST-<VENDOR_ID>0<VENDOR_ID><VENDOR_ID>54492994844-0725<VENDOR_ID>4-3e3757<VENDOR_ID>8fe895<VENDOR_ID>a68880d0220726e27b-8077978<VENDOR_ID>
      X-Product-Id:
      - bc32a7vtrpp00<VENDOR_ID>u8nhjg
      X-Tracking-Id:
      - platform:3.2.2,type:SDK2.2.<VENDOR_ID>,so;
      X-Idempotency-Key:
      - bac4d0cc-5248-4bc9-a6b<VENDOR_ID>-9672<VENDOR_ID><VENDOR_ID>8670dd
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"<VENDOR_ID>623739743-d<VENDOR_AUTH_CODE>r2lARGFjjlBo","email":"none@e<VENDOR_AUTH_CODE>ample.org","first_name":null,"last_name":null,"phone":{"area_code":null,"number":null},"identification":{"type":null,"number":null},"address":{"id":null,"zip_code":null,"street_name":null,"street_number":null},"date_registered":null,"description":null,"date_created":"2024-0<VENDOR_ID>-05T<VENDOR_ID>6:28:4<VENDOR_ID>.957-04:00","date_last_updated":"2024-0<VENDOR_ID>-05T<VENDOR_ID>6:28:4<VENDOR_ID>.957-04:00","default_card":null,"default_address":null,"cards":[],"addresses":[],"live_mode":false,"user_id":<VENDOR_ID>623739743,"merchant_id":8077978<VENDOR_ID>,"client_id":<VENDOR_ID>0<VENDOR_ID><VENDOR_ID>54492994844,"status":"active"}'
  recorded_at: Fri, 05 Jan 2024 20:28:41 GMT
recorded_with: VCR 6.2.0
