---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v<VENDOR_ID>/card_<MERCADOPAGO_ACCESS_TOKEN>s
    body:
      encoding: UTF-8
      string: '{"card_number":"503<VENDOR_ID>4332<VENDOR_ID>540635<VENDOR_ID>","e<VENDOR_AUTH_CODE>piration_year":2025,"e<VENDOR_AUTH_CODE>piration_month":<VENDOR_ID><VENDOR_ID>,"security_code":"<VENDOR_ID>23","cardholder":{"name":"APRO"}}'
    headers:
      Authorization:
      - Bearer TEST-<VENDOR_ID>0<VENDOR_ID><VENDOR_ID>54492994844-0725<VENDOR_ID>4-3e3757<VENDOR_ID>8fe895<VENDOR_ID>a68880d0220726e27b-8077978<VENDOR_ID>
      X-Product-Id:
      - bc32a7vtrpp00<VENDOR_ID>u8nhjg
      X-Tracking-Id:
      - platform:3.2.2,type:SDK2.2.<VENDOR_ID>,so;
      X-Idempotency-Key:
      - fcec85<VENDOR_ID>6-<VENDOR_ID><VENDOR_ID>9a-4d7a-bb5c-20a364bf06c9
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"<VENDOR_ID>4fb<VENDOR_ID>75774<VENDOR_ID>a682f54fd675296440cf5","first_si<VENDOR_AUTH_CODE>_digits":"503<VENDOR_ID>43","e<VENDOR_AUTH_CODE>piration_month":<VENDOR_ID><VENDOR_ID>,"e<VENDOR_AUTH_CODE>piration_year":2025,"last_four_digits":"635<VENDOR_ID>","cardholder":{"identification":{},"name":"APRO"},"status":"active","date_created":"2024-0<VENDOR_ID>-05T<VENDOR_ID>7:45:<VENDOR_ID>0.824-04:00","date_last_updated":"2024-0<VENDOR_ID>-05T<VENDOR_ID>7:45:<VENDOR_ID>0.824-04:00","date_due":"2024-0<VENDOR_ID>-<VENDOR_ID>3T<VENDOR_ID>7:45:<VENDOR_ID>0.824-04:00","luhn_validation":true,"live_mode":false,"require_esc":false,"card_number_length":<VENDOR_ID>6,"security_code_length":3}'
  recorded_at: Fri, 05 Jan 2024 21:45:10 GMT
- request:
    method: post
    uri: https://api.mercadopago.com/v<VENDOR_ID>/payments/
    body:
      encoding: UTF-8
      string: '{"<MERCADOPAGO_ACCESS_TOKEN>":"<VENDOR_ID>4fb<VENDOR_ID>75774<VENDOR_ID>a682f54fd675296440cf5","installments":<VENDOR_ID>,"transaction_amount":2900,"payer":{"type":"customer","id":"<VENDOR_ID>623739743-d<VENDOR_AUTH_CODE>r2lARGFjjlBo"}}'
    headers:
      Authorization:
      - Bearer TEST-<VENDOR_ID>0<VENDOR_ID><VENDOR_ID>54492994844-0725<VENDOR_ID>4-3e3757<VENDOR_ID>8fe895<VENDOR_ID>a68880d0220726e27b-8077978<VENDOR_ID>
      X-Product-Id:
      - bc32a7vtrpp00<VENDOR_ID>u8nhjg
      X-Tracking-Id:
      - platform:3.2.2,type:SDK2.2.<VENDOR_ID>,so;
      X-Idempotency-Key:
      - 847ad455-500d-43d7-82c0-5c2ba3f0ba9d
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Site-Id:
      - MLM
      X-Response-Status:
      - approved/accredited
      X-Caller-Id:
      - 8077978<VENDOR_ID>
      Etag:
      - 4c47eed280dca5eccffc56<VENDOR_ID>0d0d82e<VENDOR_ID>e
    body:
      encoding: UTF-8
      string: '{"id":<VENDOR_ID>3<VENDOR_ID>6525526,"date_created":"2024-0<VENDOR_ID>-05T<VENDOR_ID>7:5<VENDOR_ID>:27.7<VENDOR_ID>8-04:00","date_approved":"2024-0<VENDOR_ID>-05T<VENDOR_ID>7:5<VENDOR_ID>:27.95<VENDOR_ID>-04:00","date_last_updated":"2024-0<VENDOR_ID>-05T<VENDOR_ID>7:5<VENDOR_ID>:27.95<VENDOR_ID>-04:00","date_of_e<VENDOR_AUTH_CODE>piration":null,"money_release_date":"2024-0<VENDOR_ID>-05T<VENDOR_ID>7:5<VENDOR_ID>:27.95<VENDOR_ID>-04:00","money_release_status":"released","operation_type":"regular_payment","issuer_id":"<VENDOR_ID>62","payment_method_id":"master","payment_type_id":"credit_card","payment_method":{"id":"master","type":"credit_card","issuer_id":"<VENDOR_ID>62","data":{"routing_data":{"merchant_account_id":"<VENDOR_ID>0299"}}},"status":"approved","status_detail":"accredited","currency_id":"MXN","description":null,"live_mode":false,"sponsor_id":null,"authorization_code":"229549003","money_release_schema":null,"ta<VENDOR_AUTH_CODE>es_amount":0,"counter_currency":null,"brand_id":null,"shipping_amount":0,"build_version":"3.32.<VENDOR_ID>","pos_id":null,"store_id":null,"integrator_id":null,"platform_id":null,"corporation_id":null,"payer":{"identification":{"number":"32659430","type":"DNI"},"entity_type":null,"phone":{"number":null,"e<VENDOR_AUTH_CODE>tension":null,"area_code":null},"last_name":null,"id":"<VENDOR_ID>623739743-d<VENDOR_AUTH_CODE>r2lARGFjjlBo","type":null,"first_name":null,"email":"test_user_80507629@testuser.com"},"collector_id":8077978<VENDOR_ID>,"marketplace_owner":null,"metadata":{},"additional_info":{"available_balance":null,"nsu_processadora":null,"authentication_code":null},"order":{},"e<VENDOR_AUTH_CODE>ternal_reference":null,"transaction_amount":2900,"transaction_amount_refunded":0,"coupon_amount":0,"differential_pricing_id":null,"financing_group":null,"deduction_schema":null,"installments":<VENDOR_ID>,"transaction_details":{"payment_method_reference_id":null,"acquirer_reference":null,"net_received_amount":2777.9<VENDOR_ID>,"total_paid_amount":2900,"overpaid_amount":0,"e<VENDOR_AUTH_CODE>ternal_resource_url":null,"installment_amount":2900,"financial_institution":null,"payable_deferral_period":null},"fee_details":[{"type":"mercadopago_fee","amount":<VENDOR_ID>22.09,"fee_payer":"collector"}],"charges_details":[{"id":"<VENDOR_ID>3<VENDOR_ID>6525526-00<VENDOR_ID>","name":"mercadopago_fee","type":"fee","accounts":{"from":"collector","to":"mp"},"client_id":0,"date_created":"2024-0<VENDOR_ID>-05T<VENDOR_ID>7:5<VENDOR_ID>:27.722-04:00","last_updated":"2024-0<VENDOR_ID>-05T<VENDOR_ID>7:5<VENDOR_ID>:27.722-04:00","amounts":{"original":<VENDOR_ID>22.09,"refunded":0},"metadata":{},"reserve_id":null,"refund_charges":[]}],"captured":true,"binary_mode":false,"call_for_authorize_id":null,"statement_descriptor":null,"card":{"id":null,"first_si<VENDOR_AUTH_CODE>_digits":"503<VENDOR_ID>43","last_four_digits":"635<VENDOR_ID>","e<VENDOR_AUTH_CODE>piration_month":<VENDOR_ID><VENDOR_ID>,"e<VENDOR_AUTH_CODE>piration_year":2025,"date_created":"2024-0<VENDOR_ID>-05T<VENDOR_ID>7:5<VENDOR_ID>:27.000-04:00","date_last_updated":"2024-0<VENDOR_ID>-05T<VENDOR_ID>7:5<VENDOR_ID>:27.000-04:00","cardholder":{"name":"APRO","identification":{"number":null,"type":null}}},"notification_url":null,"refunds":[],"processing_mode":"aggregator","merchant_account_id":null,"merchant_number":null,"acquirer_reconciliation":[],"point_of_interaction":{"type":"UNSPECIFIED","business_info":{"unit":"online_payments","sub_unit":"sdk","branch":null}},"accounts_info":null,"tags":null}'
  recorded_at: Fri, 05 Jan 2024 21:51:28 GMT
recorded_with: VCR 6.2.0
