---
http_interactions:
- request:
    method: post
    uri: https://api.mercadopago.com/v<VENDOR_ID>/card_<MERCADOPAGO_ACCESS_TOKEN>s
    body:
      encoding: UTF-8
      string: '{"card_number":"503<VENDOR_ID>4332<VENDOR_ID>540635<VENDOR_ID>","e<VENDOR_AUTH_CODE>piration_year":2025,"e<VENDOR_AUTH_CODE>piration_month":<VENDOR_ID><VENDOR_ID>,"security_code":"<VENDOR_ID>23","payment_method_id":"visa","cardholder":{"name":"APRO"}}'
    headers:
      Authorization:
      - Bearer TEST-<VENDOR_ID>0<VENDOR_ID><VENDOR_ID>54492994844-0725<VENDOR_ID>4-3e3757<VENDOR_ID>8fe895<VENDOR_ID>a68880d0220726e27b-8077978<VENDOR_ID>
      X-Product-Id:
      - bc32a7vtrpp00<VENDOR_ID>u8nhjg
      X-Tracking-Id:
      - platform:3.2.2,type:SDK2.2.<VENDOR_ID>,so;
      X-Idempotency-Key:
      - 4<VENDOR_ID>dfdb34-f885-40cb-be57-55d9c464f4ce
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"f3a8a564d736db3633b32e5e8c55696e","first_si<VENDOR_AUTH_CODE>_digits":"503<VENDOR_ID>43","e<VENDOR_AUTH_CODE>piration_month":<VENDOR_ID><VENDOR_ID>,"e<VENDOR_AUTH_CODE>piration_year":2025,"last_four_digits":"635<VENDOR_ID>","cardholder":{"identification":{},"name":"APRO"},"status":"active","date_created":"2024-0<VENDOR_ID>-07T22:<VENDOR_ID>4:37.<VENDOR_ID>5<VENDOR_ID>-04:00","date_last_updated":"2024-0<VENDOR_ID>-07T22:<VENDOR_ID>4:37.<VENDOR_ID>5<VENDOR_ID>-04:00","date_due":"2024-0<VENDOR_ID>-<VENDOR_ID>5T22:<VENDOR_ID>4:37.<VENDOR_ID>5<VENDOR_ID>-04:00","luhn_validation":true,"live_mode":false,"require_esc":false,"card_number_length":<VENDOR_ID>6,"security_code_length":3}'
  recorded_at: Mon, 08 Jan 2024 02:14:37 GMT
- request:
    method: post
    uri: https://api.mercadopago.com/v<VENDOR_ID>/payments/
    body:
      encoding: UTF-8
      string: '{"<MERCADOPAGO_ACCESS_TOKEN>":"f3a8a564d736db3633b32e5e8c55696e","installments":<VENDOR_ID>,"transaction_amount":3700,"payer":{"type":"customer","id":"<VENDOR_ID>623739743-d<VENDOR_AUTH_CODE>r2lARGFjjlBo"}}'
    headers:
      Authorization:
      - Bearer TEST-<VENDOR_ID>0<VENDOR_ID><VENDOR_ID>54492994844-0725<VENDOR_ID>4-3e3757<VENDOR_ID>8fe895<VENDOR_ID>a68880d0220726e27b-8077978<VENDOR_ID>
      X-Product-Id:
      - bc32a7vtrpp00<VENDOR_ID>u8nhjg
      X-Tracking-Id:
      - platform:3.2.2,type:SDK2.2.<VENDOR_ID>,so;
      X-Idempotency-Key:
      - 693c270a-9<VENDOR_ID>bd-4a28-8a06-2a978d00d0f6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Site-Id:
      - MLM
      X-Response-Status:
      - approved/accredited
      X-Caller-Id:
      - 8077978<VENDOR_ID>
      Etag:
      - cdd959cb22d62c24<VENDOR_ID>68c6<VENDOR_ID>de5fb0<VENDOR_ID>8a4
    body:
      encoding: UTF-8
      string: '{"id":<VENDOR_ID>32052867<VENDOR_ID>,"date_created":"2024-0<VENDOR_ID>-07T22:<VENDOR_ID>4:38.067-04:00","date_approved":"2024-0<VENDOR_ID>-07T22:<VENDOR_ID>4:38.253-04:00","date_last_updated":"2024-0<VENDOR_ID>-07T22:<VENDOR_ID>4:38.253-04:00","date_of_e<VENDOR_AUTH_CODE>piration":null,"money_release_date":"2024-0<VENDOR_ID>-07T22:<VENDOR_ID>4:38.253-04:00","money_release_status":"released","operation_type":"regular_payment","issuer_id":"<VENDOR_ID>62","payment_method_id":"master","payment_type_id":"credit_card","payment_method":{"id":"master","type":"credit_card","issuer_id":"<VENDOR_ID>62","data":{"routing_data":{"merchant_account_id":"<VENDOR_ID>0299"}}},"status":"approved","status_detail":"accredited","currency_id":"MXN","description":null,"live_mode":false,"sponsor_id":null,"authorization_code":"229549003","money_release_schema":null,"ta<VENDOR_AUTH_CODE>es_amount":0,"counter_currency":null,"brand_id":null,"shipping_amount":0,"build_version":"3.32.<VENDOR_ID>","pos_id":null,"store_id":null,"integrator_id":null,"platform_id":null,"corporation_id":null,"payer":{"identification":{"number":"32659430","type":"DNI"},"entity_type":null,"phone":{"number":null,"e<VENDOR_AUTH_CODE>tension":null,"area_code":null},"last_name":null,"id":"<VENDOR_ID>623739743-d<VENDOR_AUTH_CODE>r2lARGFjjlBo","type":null,"first_name":null,"email":"test_user_80507629@testuser.com"},"collector_id":8077978<VENDOR_ID>,"marketplace_owner":null,"metadata":{},"additional_info":{"available_balance":null,"nsu_processadora":null,"authentication_code":null},"order":{},"e<VENDOR_AUTH_CODE>ternal_reference":null,"transaction_amount":3700,"transaction_amount_refunded":0,"coupon_amount":0,"differential_pricing_id":null,"financing_group":null,"deduction_schema":null,"installments":<VENDOR_ID>,"transaction_details":{"payment_method_reference_id":null,"acquirer_reference":null,"net_received_amount":3545.5<VENDOR_ID>,"total_paid_amount":3700,"overpaid_amount":0,"e<VENDOR_AUTH_CODE>ternal_resource_url":null,"installment_amount":3700,"financial_institution":null,"payable_deferral_period":null},"fee_details":[{"type":"mercadopago_fee","amount":<VENDOR_ID>54.49,"fee_payer":"collector"}],"charges_details":[{"id":"<VENDOR_ID>32052867<VENDOR_ID>-00<VENDOR_ID>","name":"mercadopago_fee","type":"fee","accounts":{"from":"collector","to":"mp"},"client_id":0,"date_created":"2024-0<VENDOR_ID>-07T22:<VENDOR_ID>4:38.072-04:00","last_updated":"2024-0<VENDOR_ID>-07T22:<VENDOR_ID>4:38.072-04:00","amounts":{"original":<VENDOR_ID>54.49,"refunded":0},"metadata":{},"reserve_id":null,"refund_charges":[]}],"captured":true,"binary_mode":false,"call_for_authorize_id":null,"statement_descriptor":null,"card":{"id":null,"first_si<VENDOR_AUTH_CODE>_digits":"503<VENDOR_ID>43","last_four_digits":"635<VENDOR_ID>","e<VENDOR_AUTH_CODE>piration_month":<VENDOR_ID><VENDOR_ID>,"e<VENDOR_AUTH_CODE>piration_year":2025,"date_created":"2024-0<VENDOR_ID>-07T22:<VENDOR_ID>4:38.000-04:00","date_last_updated":"2024-0<VENDOR_ID>-07T22:<VENDOR_ID>4:38.000-04:00","cardholder":{"name":"APRO","identification":{"number":null,"type":null}}},"notification_url":null,"refunds":[],"processing_mode":"aggregator","merchant_account_id":null,"merchant_number":null,"acquirer_reconciliation":[],"point_of_interaction":{"type":"UNSPECIFIED","business_info":{"unit":"online_payments","sub_unit":"sdk","branch":null}},"accounts_info":null,"tags":null}'
  recorded_at: Mon, 08 Jan 2024 02:14:38 GMT
recorded_with: VCR 6.2.0
